@charset "utf-8";
/* CSS Document */
					
	footer {
		background: url(../images/footer-bg.jpg) repeat;
		width: 1000px;
		height: 85px;
		margin: 0 auto 20px auto;
		position: relative;
		padding: 15px 50px 15px 50px;
	}
		footer p {
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
			color: #FFF;
			float: left;
		}
		footer a {
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
			color: #ffc904;
		}
			footer a:hover {
				color: #FFF;
			}
		#socmed {

		}
			#socmed ul {
				margin: 0;
				margin-top: 2px;
			}
			#socmed ul li {
				list-style-type: none;
				display: inline;
			}
				#socmed span {
					visibility: hidden;
				}
				#socmed a {
					height: 50px;
					width: 50px;
					display: inline-block;
					float: right;
					margin-left: 15px;
					text-decoration: none;
				}
					#facebook {
						background: url(../images/logo_sheet.png) no-repeat;
						background-position: 0px -192px;
						border-radius: 50%;
					}
						#facebook:hover {
							background: url(../images/logo_sheet.png) no-repeat;
							background-position: -53px -192px;
							border-radius: 50%;
						}
					#gplus {
						background: url(../images/logo_sheet.png) no-repeat;
						background-position: 0px -252px;
						border-radius: 50%;
					}
						#gplus:hover {
							background: url(../images/logo_sheet.png) no-repeat;
							background-position: -53px -252px;
							border-radius: 50%;
						}
					#twitter {
						background: url(../images/logo_sheet.png) no-repeat;
						background-position: 0px -312px;
						border-radius: 50%;
					}
						#twitter:hover {
							background: url(../images/logo_sheet.png) no-repeat;
							background-position: -53px -312px;
							border-radius: 50%;
						}