@charset "utf-8";
/* CSS Document */

strong {
	font-weight: bold;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing: border-box;
}
body {
	background: #AAA;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0;
}
	ul {
		list-style-type: square;
		margin-left: 25px;
	}

	main {
		background: #ebebec;
		width: 1000px;
		margin: 30px auto 0 auto;
		position: relative;
		padding: 10px 0 30px 0;
		display: block;
	}
		main a { /* 'main a' because 'a' will affect UCF nav bars */
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
			color: #4e84d4;
		}
			a:hover {
				color: #395f99;
			}

			.pagecontent {
				padding: 25px 50px 15px 50px;
			}
				.pagecontent h1 {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 35px;
					color: #25548e;
					margin: 25px 0 0 0;;
					border-top: 2px solid;
					max-width: 61%;
				}
				.pagecontent h2 {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #4371b5;
					margin: 30px 0 0 0;
				}
				.pagecontent h3 {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 26px;
					color: #555;
					margin: 30px 0 0 0;
				}

	
		#title {
			background: #25548e url(../images/logo_sheet.png) no-repeat;
			background-position: 808px 2px;
			height: 60px;
			width: 1000px;
			margin-top: 20px;
			padding: 1px 5px 5px 50px;
			-webkit-box-shadow: 0 5px 5px -2px #AAA;
			box-shadow: 0 5px 5px -2px #AAA;
		}
			div h1 {
				font-family: 'League Gothic', sans-serif;
				font-weight: normal;
				font-size: 40px;
				color: #FFF;
				margin: 0;
				margin-top: 0.4rem; /* Temporary */
			}
			
			
		/* Home stuff --------------------------------------- */
		#homepage {
		}
			#homepage h2 {
			}
		#photogrid {
		}
			.trpic {
				width: 130px;
				vertical-align: top;
				display: inline-block;
				overflow: auto;
				margin: 10px;
				padding-top: 20px;
			}
				.trpic img {
					height: 100px;
					width: 100px;
					display: block;
					margin: 0 auto;
					-webkit-box-shadow: 0 5px 5px -2px #AAA;
					box-shadow: 0 5px 5px -2px #AAA;
				}
				.trpic p {
					display: block;
					text-align: center;
				}
					
					
					/* Bio page stuff --------------------------------------- */
					#biopage {
					}
						.bioh1 {
						}
							#biopage section h2 {
							}
							#biopage img {
								margin: 0 auto;
								display: block;
							}
							.updated {
								float: right;
								font-style: italic;
								margin: 0;
							}

							/* For Keegan's sriracha easter egg */
							.rooster {
								background: url(../images/logo_sheet.png) no-repeat;
								height: 29px;
								width: 12px;
								background-position: 0px -128px;
							}
							
					/* Past bios stuff -------------------------------------- */
					
		
			
		/* About stuff ------------------------------------- */
		#aboutpage {
		}
			#aboutmain h1 {
			}
				.aboutitem p {
				}
				#aboutpage ul {
					list-style-type: square;
					margin-left: 25px;
				}
			
		/* Tech Time stuff ------------------------------------- */
		#techtimepage {
		}
			#techtimepage h1 {
			}
				#techtimepage section h2 {
					margin: 30px 0 -10px 0;
				}
				#techtimepage h2 a {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #4371b5;
				}
					#techtimepage h2 a:hover {
						color: #4e84d4;
					}
					.eventdate {
						float: right;
						font-style: italic;
						margin-top: -25px;
					}
					#techtimepage .ttitem p {
						margin-left: 30px;
						margin-right: 30px;
					}
					
		/* Join Us stuff ------------------------------------- */
		#joinusmain section {
		}
			#joinusmain h1 {
			}
				#joinusmain section h2 {
				}
				#joinuspage section p {
				}
				#joinuspage ul {
					list-style-type: square;
					margin-left: 25px;
				}
				
				
		/* Showcase stuff ------------------------------------- */
		#showcasemain section {
		}
			#sch1 {
			}
			#showcase {
				margin: 0;
				padding: 0;
				/* column-count: 2; */
			}
				.scitem {		
					min-width: 400px;
					max-width: 800px;
					background: #DDD;
					display: block;
					margin: 0 auto 30px auto;
					padding: 10px 10px 30px 10px;
				}
				#showcase .scitem:first-child {
					background: none;
				}
					.scitem h1 {
						max-width: 100%;
						border: none;
						color: #4371b5;
						display: block;
						text-align: center;
						margin-bottom: 10px;
					}
					.scitem img {
						height: 200px;
						width: 300px;
						margin: 0 auto;
						display: block;
						-webkit-box-shadow: 0 5px 5px -2px #AAA;
						box-shadow: 0 5px 5px -2px #AAA;
					}
					.scintro {
						margin-top: 10px;
					}
		
		/* Tutorials stuff ------------------------------------- */	
		#tutorialsmain section {
		}
			#tutorials {
				margin: 0;
				padding: 0;
				/* overflow: auto; */ 
			}
				.tutitem {
					min-width: 400px;
					max-width: 800px;
					background: #DDD;
					display: block;
					margin: 0 auto 30px auto;
					padding: 10px 10px 50px 10px;
				}
				#tutorials .tutitem:first-child {
					background: none;
				}
					.tutitem h1 {
						max-width: 100%;
						border: none;
						display: block;
						text-align: center;
						margin-bottom: 10px;
					}
						.tutitem h1 a {
							font-family: 'League Gothic', sans-serif;
							color: #4371b5;
							display: block;
						}
						.tutitem h1 a:hover {
							color: #4e84d4;
						}
					.tutitem img {
						height: 200px;
						width: 300px;
						margin: 0 auto;
						display: block;
						-webkit-box-shadow: 0 5px 5px -2px #AAA;
						box-shadow: 0 5px 5px -2px #AAA;
					}
					.author {
						font-style: italic;
						float: right;
						margin: -5px 0 15px 0;
					}

		/* Tutorial pages (TR training, OAuth, Django) stuff ------------------------------------- */	
		#trtrainingpage {
		}
			#trtrainingmain h1 {
			}
				#trtrainingpage ul {
					list-style-type: square;
					margin-left: 57px;
				}
				#trtrainingpage ol {
					margin-left: 0;
				}
				.tutauthor {
					font-style: italic;
				}
				pre {
					font-family: monospace;
					background: #DDD;
					padding: 25px;
					overflow: auto;
				}

/* Typography ----------------------------------------------------------------- */

dl {
	margin: 0;
	margin-bottom: 20px;
}

dl dt {
	clear: left;
	float: left;
	font-weight: bold;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}

dl dd {
	margin-left: 180px;
}

/* Tables --------------------------------------------------------------------- */

table {
	width: 100%;
	border: 1px solid #999999;
}

table > caption { font-weight: bold; }

table > caption,
table > thead > tr > th {
	border: 1px solid #999999;
	border-bottom: 2px solid #999999;
	padding: 8px;
	vertical-align: bottom;
}

table > tbody > tr > td {
	border: 1px solid #999999;
	border-top: 1px solid #999999;
	padding: 8px;
	vertical-align: top;
}

table td p { margin: 0 0 1em; }
table td p:last-child { margin: 0; }

/* Header --------------------------------------------------------------------- */

header {
	margin: auto;
	position: relative;
	background: #25548e;
	height: 80px;
}
nav {
	margin: 0 auto;
	width: 1040px;
}
.navlist {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.navlist li {
	display: inline-block;
	list-style-type: none;
	height: 80px;
	vertical-align: middle;
}
.navlist li a {
	color: #FFF;
	text-decoration: none;
	font-family: 'League Gothic', sans-serif;
	font-size: 35px;
	padding: 19px 22px 20px 47px;
	background: #25548e;
	position: relative;
	display: block;
	height: 80px;
	margin: 0px;
	margin-left: -4px; /* overlap size */
}
.navlist li a:hover {
	color: #ffc904;
}
.navlist li:last-child a:hover {
	color: #FFF;
}
#techrangers {
	font-size: 60px;
	padding: 4px 35px 0px 25px;
	color: #fff;
}
	#techrangers:hover {
		color: #ffc904;
	}
#techrangers span {
	display: inline-block;
}
#char1 {
	letter-spacing: -9px;
}
#char2 {
	font-size: 53px;
	left: 0px;
	letter-spacing: -10px;
}
#char3 {
	font-size: 54px;
	left: -1px;
	letter-spacing: -9px;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
#char4 {
	font-size: 53px;
	left: -1px;
	letter-spacing: -10px;
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
#char5 {
	font-size: 55px;
	left: -1px;
	letter-spacing: -8px;
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
#char6 {
	font-size: 54px;
	left: -1px;
	letter-spacing: -10px;
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
#char7 {
	font-size: 54px;
	left: -1px;
	letter-spacing: -9px;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
#char8 {
	font-size: 54px;
	left: -1px;
	letter-spacing: -9px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
#char9 {
	font-size: 53px;
	left: -1px;
	letter-spacing: -9px;
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
}
#char10 {
	font-size: 54px;
	left: -1px;
	letter-spacing: -10px;
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
#char11 {
	font-size: 54px;
	left: -1px;
	letter-spacing: -5px;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.navlist li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 25px solid #25548e;
	position: absolute;
	top: 50%;
	margin-top: -40px; /* arrow height */
	left: 100%;
	z-index: 2;
}
.navlist li:first-child a {
	padding-left: 10px;
}

.navlist li:nth-child(2) a {
	background: #395f99;
}
.navlist li:nth-child(2) a:after {
	border-left-color: #395f99;
}

.navlist li:nth-child(3) a {
	background: #4371b5;
}
.navlist li:nth-child(3) a:after {
	border-left-color: #4371b5;
}

.navlist li:nth-child(4) a {
	background: #4e84d4;
}
.navlist li:nth-child(4) a:after {
	border-left-color: #4e84d4;
}

.navlist li:nth-child(5) a {
	background: #548de3;
}
.navlist li:nth-child(5) a:after {
	border-left-color: #548de3;
}

.navlist li:nth-child(6) a {
	background: #ffc904;
	color: #000;
	padding-right: 25px;
}
.navlist li:nth-child(6) a:after {
	border-left-color: #ffc904;
}

/* Sidebar -------------------------------------------------------------------- */

p {
	margin: 1em 0em 1em 0em;
}

ol {
	list-style-type: decimal;
	margin: 1em 0em 1em 0em;
	padding-left: 60px;
	-webkit-padding-start: 60px;
	-moz-padding-start: 60px;
}

#homeaside {
	background: #CCC;
	width: 300px;
	float: right;
	padding-bottom: 10px;
	margin: 0px 50px 50px 50px;
	box-shadow: 0 5px 5px -2px #AAA;
}

#homeaside p {
	padding-left: 20px;
	padding-right: 20px;
}

#homeaside h2 {
	text-align: center;
	height: 60px;
	margin-top: 30px;
	font-family: 'League Gothic', sans-serif;
	font-weight: normal;
	font-size: 40px;
	padding: 10px;
	color: #FFF;
	background-color: #548de3;
	box-shadow: 0 5px 5px -2px #818181;
}

#homeaside a {
	color: #395f99;
}

#homeaside a:hover {
	color: #4e84d4;
}

#homeaside ol li {
	margin-top: 25px;
}

/* Footer --------------------------------------------------------------------- */

footer {
	background: #3A3A3A url(../images/footer-bg.jpg) repeat;
	width: 1000px;
	height: 85px;
	margin: 0 auto 20px auto;
	position: relative;
	padding: 15px 50px 15px 50px;
}
footer p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #FFF;
	float: left;
}
footer a {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #ffc904;
}
footer a:hover {
	color: #FFF;
}
#socmed ul {
	margin: 0;
	margin-top: 2px;
}
#socmed ul li {
	list-style-type: none;
	display: inline;
}
#socmed span {
	visibility: hidden;
}
#socmed a {
	height: 50px;
	width: 50px;
	display: inline-block;
	float: right;
	margin-left: 15px;
	text-decoration: none;
}
#facebook {
	background: url(../images/logo_sheet.png) no-repeat;
	background-position: 0px -192px;
	border-radius: 50%;
}
#facebook:hover {
	background: url(../images/logo_sheet.png) no-repeat;
	background-position: -53px -192px;
	border-radius: 50%;
}
#gplus {
	background: url(../images/logo_sheet.png) no-repeat;
	background-position: 0px -252px;
	border-radius: 50%;
}
#gplus:hover {
	background: url(../images/logo_sheet.png) no-repeat;
	background-position: -53px -252px;
	border-radius: 50%;
}
#twitter {
	background: url(../images/logo_sheet.png) no-repeat;
	background-position: 0px -312px;
	border-radius: 50%;
}
#twitter:hover {
	background: url(../images/logo_sheet.png) no-repeat;
	background-position: -53px -312px;
	border-radius: 50%;
}

/* Helper classes for smart developers ;) ------------------------------------- */

.center { text-align: center; }
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.no-margin { margin: 0; }
