@charset "utf-8";
/* CSS Document */

strong {
	font-weight: bold;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing: border-box;
}
body {
	background: #AAA;
	margin: 0;
}
	p, ol, ul {
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	}
	main a { /* 'main a' because 'a' will affect UCF nav bars */
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		color: #4e84d4;
	}
		a:hover {
			color: #395f99;
		}

	main {
		background: #ebebec;
		width: 1000px;
		margin: auto;
		margin-top: 30px;
		position: relative;
		padding: 10px 0 30px 0;
		display: block;
	}
		#title {
			background: #25548e url(../images/trbot.png) no-repeat;
			background-position: 808px 2px;
			height: 60px;
			width: 1000px;
			margin-top: 20px;
			padding: 1px 5px 5px 50px;
			-webkit-box-shadow: 0 5px 5px -2px #AAA;
			box-shadow: 0 5px 5px -2px #AAA;
		}
			div h2 {
				font-family: 'League Gothic', sans-serif;
				font-weight: normal;
				font-size: 40px;
				color: #FFF;
				margin: 0;
				margin-top: 0.4rem; /*Temporary */
			}
		section h1 {
			font-family: 'League Gothic', sans-serif;
			font-weight: normal;
			color: #25548e;
		}
			
		/* Home stuff --------------------------------------- */
		#homepage {
			padding: 25px 50px 15px 50px;
		}
			#homepage h2 {
				font-family: 'League Gothic', sans-serif;
				font-weight: normal;
				font-size: 30px;
				color: #4371b5;
				margin-left: 15px;
				margin: 0;
			}
		#photogrid {
		}
			.trpic {
				height: 220px;
				width: 130px;
				display: inline-block;
				overflow: auto;
				margin: 10px;
				padding-top: 20px;
			}
				.trpic img {
					height: 100px;
					width: 100px;
					display: block;
					margin: 0 auto;
					-webkit-box-shadow: 0 5px 5px -2px #AAA;
					box-shadow: 0 5px 5px -2px #AAA;
				}
				.trpic p {
					display: block;
					text-align: center;
				}
					
					
					/* Bio page stuff --------------------------------------- */
					#biopage {
						padding: 25px 50px 15px 50px;
					}
						.bioh1 {
							font-size: 35px;
							margin-top: 25px;
							margin-bottom: 0;
							border-top: 2px solid;
							max-width: 61%;
						}
							#biopage section h2 {
								font-family: 'League Gothic', sans-serif;
								font-weight: normal;
								font-size: 30px;
								color: #4371b5;
								margin-left: 15px;
								margin: 0;
							}
							#biopage img {
								margin: 0 auto;
								display: block;
							}
							
					/* Past bios stuff -------------------------------------- */
					
		
			
		/* About stuff ------------------------------------- */
		#aboutpage {
			padding: 25px 50px 15px 50px;
		}
			#aboutmain h1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 61%;
			}
				.aboutitem p {
				}
			
		/* Tech Time stuff ------------------------------------- */
		#techtimepage {
			padding: 25px 50px 15px 50px;
		}
			#techtimepage h1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 61%;
			}
				#techtimepage section h2 {
					margin-bottom: -10px;
					margin-top: 25px;
				}
				#techtimepage h2 a {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #4371b5;
				}
					#techtimepage h2 a:hover {
						color: #4e84d4;
					}
					.eventdate {
						float: right;
						font-style: italic;
						margin-top: -25px;
					}
					#techtimepage .ttitem p {
						margin-left: 30px;
						margin-right: 30px;
					}
					
		/* Join Us stuff ------------------------------------- */
		#joinusmain section {
			padding: 25px 50px 15px 50px;
		}
			#joinusmain h1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 61%;
			}
				#joinusmain section h2 {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #4371b5;
					margin-left: 15px;
					margin: 0;
				}
				#joinuspage section p {
				}
				
				
		/* Showcase stuff ------------------------------------- */
		#showcasemain section {
			padding: 25px 50px 15px 50px;
		}
			#sch1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 61%;
			}
			#showcase {
				margin: 0;
				padding: 0;
				/* column-count: 2; */
			}
				.scitem {		
					min-width: 400px;
					max-width: 800px;
					background: #DDD;
					display: block;
					margin: 0 auto;
					margin-bottom: 30px;
					padding: 10px;
					padding-bottom: 50px;
				}
				#showcase .scitem:first-child {
					background: none;
				}
					.scitem h1 {
						font-family: 'League Gothic', sans-serif;
						font-weight: normal;
						font-size: 35px;
						color: #4371b5;
						display: block;
						text-align: center;
						margin-bottom: 10px;
					}
					.scitem img {
						height: 200px;
						width: 300px;
						margin: 0 auto;
						display: block;
						-webkit-box-shadow: 0 5px 5px -2px #AAA;
						box-shadow: 0 5px 5px -2px #AAA;
					}
					.scintro {
						margin-top: 10px;
					}
		
		/* Tutorials stuff ------------------------------------- */	
		#tutorialsmain section {
			padding: 25px 50px 45px 50px;
		}
			#tutorials {
				margin: 0;
				padding: 0;
				/* overflow: auto; */ 
			}
				.tutitem {
					min-width: 400px;
					max-width: 800px;
					background: #DDD;
					display: block;
					margin: 0 auto;
					margin-bottom: 30px;
					padding: 10px;
					padding-bottom: 50px;
				}
				#tutorials .tutitem:first-child {
					background: none;
				}
					.tutitem h1 a {
						font-family: 'League Gothic', sans-serif;
						font-weight: normal;
						font-size: 35px;
						color: #4371b5;
						display: block;
						text-align: center;
						margin-bottom: 10px;
					}
						.tutitem h1 a:hover {
							color: #4e84d4;
						}
					.tutitem img {
						height: 200px;
						width: 300px;
						margin: 0 auto;
						display: block;
						-webkit-box-shadow: 0 5px 5px -2px #AAA;
						box-shadow: 0 5px 5px -2px #AAA;
					}
					.author {
						font-style: italic;
						float: right;
						margin: -5px 0 15px 0;
					}