@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}
body {
	background: #AAA;
	margin: 0;
}
	p, ol, ul {
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	}
	main a { /* 'main a' because 'a' will affect UCF nav bars */
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		color: #4e84d4;
	}
		a:hover {
			color: #395f99;
		}

	main {
		background: #ebebec;
		width: 1000px;
		margin: auto;
		position: relative;
		padding-top: 10px;
		padding-bottom: 30px;
		z-index: 5;
		margin-top: 30px;
	}
		#title {
			background: #25548e;
			height: 60px;
			width: 1000px;
			margin-top: 20px;
			padding: 5px;
			padding-left: 50px;
			box-shadow: 0 5px 5px -2px #AAA;
		}
			div h2 {
				font-family: 'League Gothic', sans-serif;
				font-weight: normal;
				font-size: 40px;
				color: #FFF;
				margin: 0;
			}
		section h1 {
			font-family: 'League Gothic', sans-serif;
			font-weight: normal;
			color: #25548e;
		}
			
		/* Home stuff --------------------------------------- */
		#homemain {
			width: 1000px;
		}
		#homepage {
			/* width: 640px; */ /* used when Tutorials aside was position: absolute */
			padding-top: 10px;
			padding-left: 50px;
			padding-right: 35px;
		}
		#photogrid {
		}
			.trpic {
				height: 220px;
				width: 130px;
				display: inline-block;
				overflow: auto;
				margin: 10px;
				padding-top: 20px;
			}
				.trpic img {
					height: 100px;
					width: 100px;
					display: block;
					margin: 0 auto;
					box-shadow: 0 5px 5px -2px #AAA;
				}
				.trpic p {
					display: block;
					text-align: center;
				}
					.tr_sherry {
						background: url(../images/bios/sherry.jpg) no-repeat 50% 20%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
					}
					.tr_liz {
						background: url(../images/bios/liz.jpg) no-repeat 50% 20%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_sevena {
						background: url(../images/bios/sevena.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_elise {
						background: url(../images/bios/elise.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_corrinne {
						background: url(../images/bios/corrinne.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_matt {
						background: url(../images/bios/matt.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_munawar {
						background: url(../images/bios/munawar.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_gina {
						background: url(../images/bios/gina.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_jesse {
						background: url(../images/bios/jesse.jpg) no-repeat 100% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 175%;
					}
					.tr_dan {
						background: url(../images/bios/dan.jpg) no-repeat 55% 15%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 150%;
					}
					.tr_eric {
						background: url(../images/bios/eric.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
					.tr_jacob {
						background: url(../images/bios/jacob.jpg) no-repeat 50% 15%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 150%;
					}
					.tr_phil {
						background: url(../images/bios/phil.jpg) no-repeat 50% 5%;
						height: 100px;
						width: 100px;
						margin: 0 auto;
						background-size: 100%;
					}
		
			
		/* About stuff ------------------------------------- */
		#aboutpage {
			padding-left: 50px;
			padding-right: 35px;
			padding-top: 10px;
		}
			#aboutmain h1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 57%;
			}
				.aboutitem p {
				}
			
		/* Tech Time stuff ------------------------------------- */
		#techtimepage {
			padding-left: 50px;
			padding-right: 35px;
			padding-top: 10px;
		}
			#techtimepage h1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 57%;
			}
				#techtimepage section h2 {
					margin-bottom: -10px;
					margin-top: 25px;
				}
				#techtimepage h2 a {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #4371b5;
				}
					#techtimepage h2 a:hover {
						color: #4e84d4;
					}
					.eventdate {
						float: right;
						font-style: italic;
						margin-top: -25px;
					}
					#techtimepage .ttitem p {
						margin-left: 30px;
						margin-right: 30px;
					}
					
		/* Join Us stuff ------------------------------------- */
		#joinuspage {
			padding-left: 50px;
			padding-right: 35px;
			padding-top: 10px;
		}
			#joinuspage h1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 57%;
			}
				#joinuspage section h2 {
					font-family: 'League Gothic', sans-serif;
					font-weight: normal;
					font-size: 30px;
					color: #4371b5;
					margin-left: 15px;
					margin: 0;
				}
				#joinuspage section p {
				}
				
				
		/* Showcase stuff ------------------------------------- */
		#showcasemain section {
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 10px;
		}
			#sch1 {
				font-size: 35px;
				margin-top: 25px;
				margin-bottom: 0;
				border-top: 2px solid;
				max-width: 57%;
			}
			#showcase {
				margin: 0;
				padding: 0;
				/* column-count: 2; */
			}
				.scitem {		
					min-width: 400px;
					max-width: 800px;
					background: #DDD;
					display: block;
					margin: 0 auto;
					margin-bottom: 20px;
					padding: 10px;
				}
				#showcase .scitem:first-child {
					background: none;
				}
					.scitem h1 {
						font-family: 'League Gothic', sans-serif;
						font-weight: normal;
						font-size: 35px;
						color: #4371b5;
						display: block;
						text-align: center;
						line-height: 0px;
					}
					.scitem img {
						height: 200px;
						width: 300px;
						margin: 0 auto;
						display: block;
						box-shadow: 0 5px 5px -2px #AAA;
					}
					.scintro {
						margin-top: 10px;
					}
		
		/* Tutorials stuff ------------------------------------- */	
		#tutorialsmain section {
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 10px;
		}
			#tutorials {
				margin: 0;
				padding: 0;
				/* overflow: auto; */ 
			}
				.tutitem {
					min-width: 400px;
					max-width: 800px;
					background: #DDD;
					display: block;
					margin: 0 auto;
					margin-bottom: 20px;
					padding: 10px;
					padding-bottom: 50px;
				}
				#tutorials .tutitem:first-child {
					background: none;
				}
					.tutitem h1 a {
						font-family: 'League Gothic', sans-serif;
						font-weight: normal;
						font-size: 35px;
						color: #4371b5;
						display: block;
						text-align: center;
					}
						.tutitem h1 a:hover {
							color: #4e84d4;
						}
					.tutitem img {
						height: 200px;
						width: 300px;
						margin: 0 auto;
						display: block;
						box-shadow: 0 5px 5px -2px #AAA;
					}
					.author {
						font-style: italic;
						float: right;
						margin: -5px 0 15px 0;
					}