---
---

<main role="main" id="aboutmain">
    <div class="container about-us-pg-container">
        <div id="title">
            <h1 class="about">The Techrangers</h1>
            <hr class="gold gold-about">
        </div>
        <div class="row about-us-pg-row">
          <div class="col-lg-12 about-us-pg-col">
            <p class="mission">The Techrangers team mission is to collectively enhance the online learning experience through our own education and to obtain a competitive advantage in this technological age. <a href="{{ "/past-techrangers.html" | relative_url }}">View past Techrangers here.</a></p>
          </div>
        </div>
    </div>

  {% assign current_count = site.techrangers_current | size %}
  {% assign current_full_timers = site.techrangers_current | where_exp: "item", "item.full_time" %}
  {% assign current_full_time_count = current_full_timers | size %}
  {% assign was_part_time = current_full_timers | where_exp: "item", "item.was_part_time" %}
  {% assign was_part_time_count = was_part_time | size %}
  <div class="container card stats">
    <div class="row">
      <div class="col">
        <span class="stat-fact"><span class="digits">{{  current_count }}</span> Current</span>
        <span class="stat-label">Techrangers</span>
      </div>

      <div class="col">
        <span class="stat-fact"><span class="digits">{{ site.tr.tr_count }}</span> Total</span>
        <span class="stat-label">Techrangers</span>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <span class="stat-fact"><span class="digits">{{ site.tr.total_jobs }}</span></span>
        <span class="stat-label">Industry jobs held by Techrangers</span>
      </div>
      <div class="col">
        <span class="stat-fact"><span class="digits">{{ was_part_time_count | times: 1.0 | divided_by: current_full_time_count | times: 100 | round }}%</span></span>
        <span class="stat-label">of perminant staff began part-time</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span class="stat-fact"><span class="digits">8</span> months</span>
        <span class="stat-label">Average Tenure</span>
      </div>

      <div class="col">
        <span class="stat-fact"><span class="digits">{{ 'now' | date: "%Y" | minus: 1996 }}</span> years</span>
        <span class="stat-label">ago the team started</span>
      </div>
    </div>
  </div>

  <div class="container about-us-pg-container">
        {% assign tr = site.techrangers_current | where_exp: "item", "item.team != 'lst'" %}
        {% for item in tr %}
          {% include person.html %}
        {% endfor %}


        <h2 class="lst-header">Learning Systems &amp; Technology</h2>
        <hr class="gold gold-lst">

        <div class="row about-us-pg-row">
          <div class="col-lg-12 about-us-pg-col">
            <p class="mission">LS&T is the parent team that contains the Techrangers. We comprise of several specialized teams that work directly with Techrangers on projects every day. This team is included in the Techranger stats.</p>
          </div>
        </div>

        <div class="photogrid">
              {% assign lst = site.techrangers_current | where: 'team', 'lst' %}
              {% for item in lst %}
                {% include person.html %}
              {% endfor %}
        </div>

        <div class="btn-center">
          <button type="button" class="btn btn-dark"><a href="{{ "/past-techrangers.html" | relative_url }}">View Past Techrangers</a></button>
        </div>

    </div>


</main>
