---
layout: default
---

<main role="main" id="homemain">
  <!-- main content -->
  <div id="title">
    <h1>Meet the Techrangers<span class="registered">&reg;</span></h1>
  </div>

  {% include sidebar.html %}

  <section role="region" class="pagecontent" id="homepage">

    <img src="assets/images/team_photo.jpg" alt="Team Photo" />

    <p class="homep">The Techrangers<span class="registered">&reg;</span> is a team of students at the <a href="https://online.ucf.edu/about" target="_blank">Center for Distributed Learning</a>, who provide course development for faculty and web/application development for the University of Central Florida (UCF). The Techrangers<span class="registered">&reg;</span> act as student advocates and leaders by holding community workshops, participating in panels and presenting at conventions. Additionally, the team provides support, troubleshooting, and consulting for various groups within the University on a variety of areas including but not limited to universal design, accessibility compliance, website design, dynamic website development requiring databases and handling of business transactions among other areas of expertise.</p>

    <p class="homep">Feel free to <a href="mailto:techrangers@ucf.edu">contact us</a>, <a href="about.html">read about us</a>, <a href="https://plus.google.com/100247024936649114253/posts" target="_blank">network with us</a>, <a href="techtime.html">learn from us</a> and <a href="joinus.html">possibly join us</a>!</p>

    <p class="homep"><strong>For technical support</strong>, please contact Webcourses@UCF Support at (407) 823-0407 or <a href="https://online.ucf.edu/support">via the support website</a>. There are also many self help online course resources on the <a href="https://online.ucf.edu/learn-online">Learning Online Website</a>.</p>

    <h2>The Techrangers<span class="registered">&reg;</span></h2>
    <div class="photogrid">
      {% assign tr = site.techrangers_current | where_exp: "item", "item.team != 'lst'" %}
      {% for item in tr %}
        {% include person.html %}
      {% endfor %}
    </div>

    <h2>Learning Systems &amp; Technology</h2>
    <div class="photogrid">
      {% assign lst = site.techrangers_current | where: 'team', 'lst' %}
      {% for item in lst %}
        {% include person.html %}
      {% endfor %}
    </div>

    <h2>Past Techrangers<span class="registered">&reg;</span></h2>
    <p><a href="past-techrangers.html">Click here to view past Techrangers' biographies</a>.</p>

  </section>
</main>
