---
layout: default
title: Past Techrangers
---
<main role="main" id="homemain">
	<div class="container">
		<!-- main content -->
		<div id="title">
			<h1 class="past-tr">Past Techrangers</h1>
			<hr class="gold gold-about">
		</div>

		<section role="region" class="pagecontent" id="homepage">
			<div class="photogrid">
				{% assign sorted = site.techrangers_past | sort: 'name' %}
				{% for item in sorted %}
					{% include person.html %}
				{% endfor %}
			</div>
		</section>
	</div>
</main>
