<footer role="contentinfo">
	<div class="container footer-container">
		<div class="row footer-row">
			<div class="col-md-12 col-lg-12 col-sm-12 footer-col">
				<h4>Techrangers</h4>
				<ul class="social justify-content-md-center">
					<li><a href="https://twitter.com/techrangers?lang=en" target="_blank"><img src="{{ "assets/images/icons/twitter.svg" | relative_url }}"></a></li>
					<li><a href="https://www.reddit.com/user/Techrangers" target="_blank"><img src="{{ "assets/images/icons/reddit.svg" | relative_url }}"></a></li>
				</ul>

				<ul class="bottom-nav justify-content-md-center">
					<li><a href="{{ "/about.html" | relative_url }}">About</a></li>
					<li><a href="{{ "/showcase.html" | relative_url }}">Showcase</a></li>
					<li><a href="{{ "/blog.html" | relative_url }}">Blog</a></li>
					<li><a href="{{ "/techtime.html" | relative_url }}">Tech Time</a></li>
					<li><a href="{{ "/joinus.html" | relative_url }}">Join Us</a></li>
				</ul>
				<p class="copy">&copy; {{ 'now' | date: "%Y" }} Techrangers | Center for Distributed Learning | University of Central Florida</p>
			</div>
		</div>
	</div>
</footer>
