<header role="banner">
    <nav role="navigation">
        <ul class="navlist">
            <li><a href="{{ "/index.html" | relative_url }}" id="techrangers">
                <span id="char1">T</span>
                <span id="char2">E</span>
                <span id="char3">C</span>
                <span id="char4">H</span>
                <span id="char5">R</span>
                <span id="char6">A</span>
                <span id="char7">N</span>
                <span id="char8">G</span>
                <span id="char9">E</span>
                <span id="char10">R</span>
                <span id="char11">S</span>
            </a></li>
            <li><a href="{{ "/about.html" | relative_url }}">About</a></li>
            <li><a href="{{ "/showcase.html" | relative_url }}">Showcase</a></li>
            <li><a href="{{ "/techtime.html" | relative_url }}">Tech Time</a></li>
            <li><a href="{{ "/tutorials.html" | relative_url }}">Tutorials</a></li>
            <li><a href="{{ "/joinus.html" | relative_url }}">Join Us</a></li>
        </ul>
    </nav>
</header>