<aside role="complementary" id="homeaside">
    <h2>Tutorials</h2>
        <p>Are you as eager to learn as we are? Check out some of our <a href="{{ "/tutorials.html" | relative_url }} ">tutorials</a>.</p>

        <ol>
            <li><a href="http://ucfcdl.github.io/html5-tutorial/" target="_blank">Introduction to HTML5 and Canvas</a></li>
            <li><a href="{{ "/techrangers-training.html" | relative_url }}">Techrangers Training</a></li>
            <li><a href="{{ "/techtime/oauth-python-tutorial.html" | relative_url }}">OAuth Python Tutorial</a></li>
            <li><a href="{{ "/techtime/a-simple-poll-manager-with-django.html" | relative_url }}">A Simple Poll Manager With Django</a></li>
            <li><a href="https://ucfopen.github.io/fuelphp-crash-course/" target="_blank">Fuel Crash Course</a></li>
        </ol>

    <h2>Tech Time</h2>
        <p>Check out our <a href="{{ "/techtime.html" | relative_url }}">upcoming Tech Times</a>!</p>
</aside>
