.blog-post-template-container .tr_desc img.specificity-cascading-order,
.blog-post-template-container .tr_desc img.specificity-calculation {
  width: 400px;
}

.blog-post-template-container .tr_desc img.specificity-css-guy,
.blog-post-template-container .tr_desc img.specificity-chart,
.blog-post-template-container .tr_desc img.specificity-calculation-wide {
  width: 600px;
}

.blog-post-template-container .tr_desc img.specificity-sigh {
  width: 140px;
}
