@charset "utf-8";

/* Global --------------------------------------------------------------------- */
* {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch; /* for iOS devices */
}

body i { font-family:'FontAwesome'!important; }

ul {
	margin-left: 20px;
	list-style-type: none;
}

ul>li {
	background-image: url('images/icons/bullet-point.svg');
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding-left: 25px;
}

ul>li>ul>li {
	background-image: url('images/icons/yellow-square.svg');
	background-size: 10px 10px;
	background-position: 0 7px;
}

p {
	font-weight: 400;
	letter-spacing: 1px;
}

#about,
#services,
#showcase, 
#blog,
#join-us,
#footer { padding: 50px 0; }

.about-lp-row,
.services-lp-row,
.showcase-lp-row,
.blog-lp-row,
.join-us-lp-row { text-align: center; }

.about-lp-col h2,
.showcase-pg-col h2,
.blog-lp-col h2,
.services-lp-col h2,
.join-us-lp-text h2,
.footer-col h2 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
}

.clear { clear: both; }

main a {
	color: #000;
	font-weight: 700;
}

main a:hover { text-decoration: underline; }

a .lp-btn { color: #fff!important; }

/* gold line below headers */
.gold {
	margin: auto;
	width: 70px;
	position: relative;
	border-top: 2px solid #ffc904;
	margin-top: 15px;
	margin-bottom: 25px;
}

/* if needed; white line below headers */
.white {
	margin: auto;
	width: 70px;
	position: relative;
	border-top: 2px solid #fff;
	margin-top: 15px;
	margin-bottom: 25px;
}

/* main button stylings; Tech Time page has different styling (see Tech Time section) */
.btn { padding: 15px; }

.btn a {
	display: block;
}

.btn-dark {
	border-color: #000;
	background-color: #000;
}

.btn.btn-dark {
	border-radius: 0;
	letter-spacing: 2px;
	font-weight: 400;
}

/* Splash Page --------------------------------------------------------------------- */
#splash-page {
	height: 100vh;
	background-color: #f8f8f8;
	position: relative;
	background-image: url("background-pattern.svg")
}

#robot {
	width: 55%;
	max-width: 600px;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

#small-robot {
	display: none;
	widows: 60%;
	margin: 0;
	padding: 0;
	bottom: 0;
}

#small-robot-wrap {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	bottom: 0;
	position: absolute;
}

#splash-page h1 {
	width: 100%;
	font-size: 7em;
	font-weight: 700;
	margin: 0;
	padding-top: 13%;
	letter-spacing: 2px;
	color: #000; 
}

#welcome h2 {
	color: #fff;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	background-color: #000;
	display: inline-block;
	padding: 0px 15px 5px 15px;
	letter-spacing: 1px;
	font-size: 3em;
	margin-top: 0;
	margin-left: 3%;
}

#welcome h3 {
	font-size: 2.5em;
	color: black;
	letter-spacing: 1px;
	margin-top: 4%;
}

#welcome {
	width: 42%;
	margin-left: 3%;
	text-align: center;
	font-weight: bold;
}

/* Navigation (homepage) --------------------------------------------------------------------- */
/* homepage nav stylings ONLY */

.bg-light {
	background: linear-gradient(rgb(80, 80, 80, 0.5), transparent)!important;
	background-color: #ffc904;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
}

/* Navigation (other pages) --------------------------------------------------------------------- */
/* use these stylings for nav of all other pages (except Homepage) */

.bg-dark { background-color: #ffc904!important; }

.bg-dark a.navbar-brand {
	color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px #000;
}

/* Navigation Overlay --------------------------------------------------------------------- */

/* styles applyed ONLY to homepage overlay */
.hp-nav .overlay-content a { letter-spacing: 2px; }

.hp-nav .overlay-content a,
.hp-nav .closebtn { text-decoration: none!important;  }

/* styles for both homepage nav(.hp-nav) and the other pages(.bg-dark) nav */
.nav-span {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}

.nav-overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.nav-overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 50px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-weight: 400!important;
}

.nav-overlay a:hover, 
.nav-overlay a:focus {
	color: #f1f1f1;
}

.nav-overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 5px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.nav-overlay a { font-size: 20px; }

	.nav-overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

/* About LP --------------------------------------------------------------------- */
.about-lp-col h2 { margin-bottom: 25px; }

.about-lp-col p { line-height: 40px!important; }

.about-lp-col a.cdl-link {
	color: #000!important;
	font-weight: 700;
}

.about-lp-col a.cdl-link:hover {
	color: #000;
	text-decoration: underline;
}

.about-lp-col button { margin-top: 15px; }

/* Services LP --------------------------------------------------------------------- */
#services {
	background-color: #2d2d2d;
}

.services-lp-col { margin-bottom: 25px; }

.services-lp-col h2,
.services-lp-col p,
.section-boxes { color: #fff; }

.services-lp-col h2 {
	animation-duration: 1000ms;
	animation-delay: 0.3s;
}

.services-lp-col hr { animation-delay: 0.3s; }

.services-lp-row { text-align: center; }

.section-boxes.animated { animation-delay: 0.2s; }

.section-boxes i { color: #ffc904; }

.section-boxes h3 {
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: 400;
}

.section-boxes p {
	font-weight: 400;
	font-size: 15px;
	line-height: 35px;
}

.section-boxes h3,
.section-boxes p { margin-top: 10px; }

/* Showcase LP --------------------------------------------------------------------- */
#showcase { text-align: center; }

#showcase h2 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
}

#showcase button.btn.btn-dark { margin-top: 25px; }

.showcase-lp-row { padding-bottom: 10px; }

.showcase-lp-row h2 { margin-bottom: 25px; }

.showcase-col-right.right { padding-right: 5px; }

.showcase-col-left.left { padding-left: 5px; }

/* Blog LP --------------------------------------------------------------------- */
#blog {
	background-color: #f8f8f8;
	text-align: center;
}

.blog-lp-col { padding-bottom: 25px; }

.blog-lp-col h2 { color: #000; }

.blog-item-text { text-align: left; }

.blog-item-text h5 { padding: 5px 0; }

.blog-item-text h5 a {
	color: #000;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 700;
}

.blog-item-text h5 a:hover { color: #000!important; }

.blog-item-text p {
	line-height: 25px;
	font-size: 14px;
	margin-top: .75rem;
}

.blog-meta a { font-weight: 700; }

.blog-meta a:hover { 
	color: #000!important;
	text-decoration: underline;
}

.meta-tags {
	text-align: left;
	margin-top: .75rem;
}

.lp-btn { margin-top: 25px; }

/* Join Us LP --------------------------------------------------------------------- */
#join-us { text-align: center; }

.join-us-lp-text p { padding-bottom: 25px; }

h2.wow.zoomin.animated,
hr.wow.zoomin.animated,
p.wow.zoomin.animated {
	visibility: visible;
	-webkit-animation-duration: 1000ms;
	-moz-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
	animation-delay: 100ms;
}

button.wow.fadeinup.animated {
	visibility: visible;
	-webkit-animation-duration: 1000ms;
	-moz-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

/* About Us Page --------------------------------------- */
.trpic {
	width: 250px;
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	margin: 10px;
	padding-top: 20px;
}
.trpic img {
	height: 250px;
	width: 250px;
	display: block;
	margin: 0 auto;
	-webkit-box-shadow: 0 5px 5px -2px #AAA;
	box-shadow: 0 5px 5px -2px #AAA;
}

.trpic a:link,
.trpic a:active,
.trpic a:visited {
	text-decoration: none;
}

.trpic .name,
.trpic .title {
	margin:15px 0 0 0;
	display: block;
	text-align: center;
}

.trpic a .name {
	color: #000;
}

.trpic a .name:hover {
	color: #000;
	text-decoration: underline;
}

.trpic .title {
	margin-top:0px;
	font-size: .9em;
	color: #000;
}

.trpic .hiredate{
	font-size: .8em;
}

h1.about,
h1.past-tr {
	color: #000;
    background-color: transparent;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 50px; 
    text-align: center;
    padding: 10px 0;
}

h2.lst-header {
	color: #000;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

hr.gold-about {
	margin-top: 0;
}

p.mission {
	font-weight: 400;
    letter-spacing: 1px;
	line-height: 30px!important;
	text-align: center;
}

hr.gold-lst {
	margin-top: 15px;
}

/* Individual Bio Page --------------------------------------- */
#biopage img {
	margin: 0 auto;
	display: block;
}

.updated {
	float: right;
	font-style: italic;
	margin: 0;
}

.profile-pg-col h1 {
	color: #000;
	background-color: transparent;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 2px;
	margin-top: 5px;
	padding: 0;
}

.tr_desc {
	padding: 15px 0px 15px 0px;
	letter-spacing: 1px;
	line-height: 30px;
}

.tr_desc p { padding-bottom: 15px; }

.tr_img {
	margin-top: 5%;
	text-align: center;
}

.tr_header {
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 1px;
}

/* Blog Post Archive Page ------------------------------------- */
#blogMain h1 {
	color: #000;
    background-color: transparent;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 0;
}

.post-title { 
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 1px;
 }

.blog-pg-container { padding-top: 50px; }

.blog-pg-container a { color: #000!important; }

.blog-pg-container a:hover {
	color: #000;
	text-decoration: underline;
}

.blog-pg-container .hr-blog { margin: 50px 0; }

.blog-pg-container .post-excerpt,
.blog-pg-container .post-date { margin-bottom: 15px; }

.blog-pg-container .post-date { color: #7a7a7a; }

/* Individual Blog Post Template --------------------------------------------------------------------- */
.blog-post-template-col h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 25px 0;
}

.blog-par { margin-bottom: 1rem; }

/* Tech Times Page ------------------------------------- */
.techtime-pg-col h2 {
	color: #000;
    background-color: transparent;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 5px; 
    padding: 0;
    text-align: center;
}

.techtime-pg-col a:hover {
	color: #000;
	text-decoration: underline;
}

.btn-center {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.btn-center a { 
	color: #fff;
	font-weight: 400;
}

.btn-center a:hover { 
	color:  #ffc904;
	text-decoration: none;
}

/* Past Tech Times Page ------------------------------------- */
.tr_title, .past-techtime-header {
	font-size: 2em;
}

.past-techtime-header {
	font-size: 1.5em;
	font-weight: bold; 
}

.past-techtime-date {
	font-style: italic;
}

.past-techtime-desc {
	padding: 1% 5% 2% 5%;
}

/* Join Us Page ------------------------------------- */
#joinusmain h1 {
	color: #000;
    background-color: transparent;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 50px; 
    text-align: center;
    padding: 10px 0;
}

.join-us-pg-col h2 {
	font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px;
}

.join-us-pg-container a {
	color: #000;
	font-weight: 700;
}

.join-us-pg-container a:hover { 
	color: #000!important;
	text-decoration: underline!important;
}

p.skills-par {
	text-align: center;
	padding-bottom: 15px;
}

.join-us-pg-container p {
	padding-top: 15px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 30px;
}

p.email-us {
	padding-bottom: 20px;
}

.join-us-text a {
	color: #ffc904;
}

.join-us-text a:hover {
	color: #000;
}

.join-us-text p {
	line-height: 30px;
}

.join-us-pg-container li {
	padding-bottom: 15px;
	letter-spacing: 2px;
}

.join-us-pg-container ul {
	padding-top: 25px;
}

.join-us-pg-container ul>li>ul {
	padding-top: 15px;
}

.join-us-pg-container ul>li>ul>li:last-child {
	padding-bottom: 0px;
}

.join-us-pg-container p,
.join-us-pg-container h3 {
	padding-top: 15px;
}

.join-us-pg-container h3 {
	font-weight: 700;
	letter-spacing: 1px;
}

hr.divider {
	padding-top: 15px;
}

/* Showcase stuff ------------------------------------- */
#title {
	margin-bottom: 80px;
}

#showcasemain h1 {
	color: #000;
    background-color: transparent;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 50px; 
    text-align: center;
    padding: 10px 0;
}

.showcase-pg-row { padding-bottom: 20px; }

.showcase-pg-col h2 { font-size: 25px; }

.showcase-pg-col a { 
	color: #000;
	font-weight: 700;
}

.showcase-pg-col a:hover {
	color: #000; 
	text-decoration: underline;
}

.showcase-pg-container { margin-bottom: 50px; }

/* Footer --------------------------------------------------------------------- */
footer {
	text-align: center;
	background-color: #2d2d2d;
}

h4 {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 2px;
	padding-top: 15px;
}

.footer-col ul {
	color: #fff;
	margin-left: 0;
	list-style-type: none;
	background: none;
}

.footer-col ul>li {
	background: none;
}

.footer-col ul.social>li,
.footer-col ul.bottom-nav>li {
	display: inline-block;
	padding: 5px;
	letter-spacing: 2px;
}

.footer-col ul img { width: 20px; }

.separator { color: #ffc904; }

.footer-col ul.bottom-nav > li { padding-bottom: 10px; }

ul.social a,
ul.bottom-nav a {
	text-decoration: none;
	color: #fff;
}

ul.social a:hover,
ul.bottom-nav a:hover {
	color: #ffc904!important;
}

.footer-col p.copy {
	color: grey;
	font-size: 10px;
	letter-spacing: 2px;
}

/* Helper classes for smart developers ;) ------------------------------------- */
.center { text-align: center; }
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.no-margin { margin: 0; }
