---
layout: default
---

<div class="container">

    <div class="row">
        <div class="container-lg-12 container-md-12 container-sm-12">
            <div class="tr_img"> <img src="/assets/images/bios/{{ page.thumbnail }}" alt="{{ page.name }}" /></div>
            <h1 class="tr_name">{{ page.name }}</h1>
            <h2 class="tr_title">{{ page.major }}</h2>
            <p class="tr_desc">{{ content }} </p>
        </div>
    </div>
</div>

<div class="container">
	<p class="updated">Page last updated {{ page.updated }}</p>
</div>
<p class="clear"></p>