---
layout: default
---

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <main role="main" id="biomain" class="clearfix">
          <div id="title">
              <h1>Meet the Techrangers</h1>
          </div>

          <section role="region" class="pagecontent" id="biopage">
              <section role="region">
                <h1 class="bioh1">{{ page.name }}</h1>
                    <img src="/assets/images/bios/{{ page.thumbnail }}" alt="{{ page.name }}" />
                    {{ content }}
              </section>
          </section>
      </main>
    </div>
  </main>

